version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: userapp-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
